div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

.warning {
  color: red;
}

.success {
  color: green;
}

.delete-form {
  display: inline-block;
  margin-left: 10px;
}

ul {
  display: flexbox;
}

li {
  display: inline-block;
  margin-bottom: 5px;
}