@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>List of All Engineers</h1>
<hr />
@if (ViewBag.Deleted != null)
{
  <h4 class="success">Engineer @ViewBag.Deleted successfully removed.</h4>
  <hr />
}
@if (Model.Count == 0)
{
  <h3>No engineers have been added yet.</h3>
}
else
{
  <ul>
    @foreach (Engineer engineer in Model)
    {
      <div>
        <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
      </div>
    }
  </ul>
}
<hr />
<p>@Html.ActionLink("Add New Engineer", "Create")</p>
<p>@Html.ActionLink("Go Back Home", "Index", "Home")</p>